# =====================================================================
# Requirements pour l'API Fraud Detection - Level UP
# =====================================================================
# 
# Installation:
#   pip install -r requirements.txt
#
# Author: Terorra
# Date: January 2026
# =====================================================================

# =====================================================================
# FASTAPI ET SERVEUR WEB
# =====================================================================
fastapi[standard]
gunicorn
pydantic

# =====================================================================
# MACHINE LEARNING
# =====================================================================
scikit-learn
joblib

# =====================================================================
# DATA PROCESSING
# =====================================================================
pandas
numpy

# test geopy
geopy

# =====================================================================
# HUGGINGFACE
# =====================================================================
huggingface-hub

# =====================================================================
# UTILITAIRES
# =====================================================================
python-dotenv
requests

# =====================================================================
# DÉVELOPPEMENT (optionnel)
# =====================================================================

# Pytest - Pour les tests unitaires (optionnel)
# pytest==7.4.3

# Black - Formatage de code (optionnel)
# black==23.12.1

# Flake8 - Linting (optionnel)
# flake8==7.0.0
